ng-container("*ngIf"="showHeading")
  simple-notifications("[options]"="snOptions")
  btas-loading("[loadingImageUrl]"="loadingImageUrl")
  btas-nav("[navItems]"="navItems" "[logoUrl]"="logoUrl")
  btas-breadcrumb
router-outlet
