// @font-face {
//     font-family: 'Varela Round';
//     src: url('~@fonts/Varela_Round/VarelaRound-Regular.ttf');
// }

$font-family: 'Varela Round', sans-serif;
$content-max-width: 960px;
$border-thin: 1px;
$border-medium: 2px;
$border-thick: 3px;
$font-normal-size: 12px;
$font-title-size: 16px;
$font-heading-size: 22px;
$font-bold: bold;
$font-normal: normal;
$transparent: transparent;


$black: #000000;
$white: #FFFFFF;
$red: #FF0000;
$theme: #00BEDD;
$theme-light: #d6e9ef;
$theme-content: #8BC8DB;
$orange: #FFA500;
$limegreen: #32CD32;
$grey: #CCCCCC;
$footerback: #555555;
$limeblue: #F5FAFF;

$text-dangerous: $red;

$theme-danger: #d43f3a;
$theme-danger-highlight: #d9534f
