@import '~@styles/variables.scss';

.simple-notification-wrapper {

  width: 100% !important;

  &.bottom {
    bottom: 0 !important;
  }

  &.right {
    right: 0 !important;
  }

}

.simple-notification {

  text-align: center !important;
  margin-bottom: 0 !important;

  &.success {
    background: $theme !important;
  }

  .icon {
    display: none !important;
  }

  .sn-title {
    font-size: 16px !important;
    line-height: 1 !important;
  }

  .sn-content {
    font-size: 12px !important;
  }
}
