div.container-fluid
  div.row
    div.col-md-2.btas-about-you__sidenav
      div#leftNav.btas-sidenav.btas-sidenav--left.text-left(
          "[@slideInOut]"="menuState"
      )
        div.pull-right(
          "[@btnInOut]"="menuState"
        )
          a("(click)"="toggle()")
            h4
              span.glyphicon.glyphicon-menu-hamburger
        btas-master-view("[viewItems]"="viewItems")
    div.col-md-10.btas-about-you__content
      router-outlet("name"="about-you")
